@page "/"
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<h1>Granite Express</h1>

<p>Welcome to your web application</p>


<p style="margin-top:30px;margin-left:28px;"><b>Admin features</b></p>
<ol style="margin-left:50px;">
    <li><p style="color:cadetblue">Create role</p></li>
    <li><p style="color:cadetblue">Add claims to the role <span style="color:darkgray">( Dynamically provide permission to access different components of this web application to a Role. )</span></p></li>
    <li><p style="color:cadetblue">Create user and assign role to them</p></li>
</ol>

<p style="margin-top:20px;margin-left:28px;"><b>Settings features</b></p>
<ol style="margin-left:50px;">
    <li><p style="color:cadetblue">Change users password <span style="color:darkgray">( default password: @("user123@") )</span></p></li>
</ol>


<p style="margin-top:20px;margin-left:28px;"><b>Journal features</b></p>
<ol style="margin-left:50px;">
    <li><p style="color:cadetblue">Create, see, modify and delete Journal entries</p></li>
</ol>


<p style="margin-top:20px;margin-left:28px;"><b>Report features</b></p>
<ol style="margin-left:50px;">
    <li><p style="color:cadetblue">Generate report of Journal entries between a range of date.</p></li>
</ol>
